$font-family_1: "FontAwesome";

.coll-link {
  width: 100%;
  position: relative;
  text-align: left;
  &::before {
    content: "\f107";
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: $font-family_1;
    font-size: 1.1rem;
  }
}
.coll-link[aria-expanded="true"] {
  &::before {
    content: "\f106";
  }
}
body {
    background: #af0000;
    background: -webkit-linear-gradient(to left, #af0000, #000676);
        background: linear-gradient(to left, #af0000, #000676);
    min-height: 100vh;
    padding-bottom: 5rem;
}
